<html>
  <head>
    <meta charset="utf-8">

    {% load static %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'projects/style.css'%}" />
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet"/>
    <title>uknowho - Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'projects/js/main.js' %}"></script>
  </head>
  <body>
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'projects:index' %}">uknowho</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
              <li><a href="{% url 'projects:find'  %}">Find a Project</a></li>
              <li><a href="{% url 'projects:project_add'%}">Create a Project</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
           <li><a href="{% url 'projects:register' %}">Register</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
           <li><a href="{% url 'projects:login' %}">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    {% block body %}{% endblock body %}

    <footer class="footer">
      <div class="container">
        <span class="text-muted">© 2017 uknowho</span>
        <span style="float:right" class="text-muted">Any doubts? <a>Contact us!</a></span>
      </div>
    </footer>
  </body>
</html>
