{% extends 'projects/base.html' %}

{% block title%} Dashboard {% endblock %}

{% block body %}
<style type="text/css">
  body {
    background-color: #eee;
  }
</style>
{% load staticfiles %}

<div id="dashCtn" class="container">
  <div class="row">
      <h1 class="text-center" style="color:black">Find a project!</h1>
      <div class="row">
        <div class="col-md-12">
          <ul>
            {% for key, value in Project.projectType_CHOICES %}
            <li>{{value}} </li>
            {% endfor %} 
          </ul>
        </div>
      </div>
      <div class="list-group">
      {% for project in all_projects %}
        <a href="#" class="list-group-item">
            <div class="media col-md-3 dashCol">
              {% if project.photo == 'default' %}
              <img style="width:150px;padding-top:30px" class="media-object img-rounded img-responsive" src="{% with 'projects/images/icon_'|add:project.projectType|add:'.png' as image_static%} {% static image_static %}{% endwith %}" id="dash-img">
              {% else %}
              <img class="media-object img-rounded img-responsive"  src="http://placehold.it/350x250" alt="placehold.it/350x250" >
              {% endif %}
            </div>
            <div class="col-md-6 dashCol">
                <h4 class="list-group-item-heading"> {{project.title}} </h4>
                <p class="list-group-item-text"> {{project.description}} </p>
            </div>
            <div class="col-md-3 text-left dashCol">
                <p> <strong>Project Type:</strong> {{project.projectType}}</p>
                <p> <strong>Est. Duration:</strong> {{project.duration}}</p>
                <p> <strong>Nº of elements:</strong> {{project.size}} </p>
                <p> <strong>Submitted by:</strong> {{project.owner.username}} </p>
                <button type="button" class="btn btn-default btn-lg btn-block" style="color:white;" href="#"> Start Creating! </button>
            </div>
        </a>
    {% endfor %}          
    </div>
 	</div>
</div>
{% endblock body %}
