{% extends 'projects/base.html' %}

{% block title%} Home {% endblock %}

{%load static%}

{% block body %}
    <div id="landingImage" class="container">
      <div class="jumbotron">
        <h1 style="padding-top:30px;font-weight:bold;">Do you know anyone who?</h1>
        <h3>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</h3>
        <div id="jumbotronButtons">
          <button type="button" class="jumbotronButton">Find Projects</button>
          <button type="button" class="jumbotronButton">Create Projects</button>
        </div>
      </div>
    </div>
    <div class="container" id="categoryItems">
        <div class="row">
          <div style="padding-bottom:40px;font-size:1.4em" class="col-md-12">
            Choose your project category
          </div>
        </div>
        <div class="row">
            <div class="col-md-3">
              <img class="categoryItem" width="140px" src="{% static 'projects/images/program.png' %}" />
              <p>Programming</p>
            </div>
            <div class="col-md-3">
              <img class="categoryItem" width="140px" src="{% static 'projects/images/computer.png' %}" />
              <p>Electronics</p>
            </div>
            <div class="col-md-3">
              <img class="categoryItem" width="140px" src="{% static 'projects/images/art.png' %}" />
              <p>Art</p>
            </div>
            <div class="col-md-3">
              <img class="categoryItem" width="140px" src="{% static 'projects/images/plus.png' %}" />
              <p>And more!</p>
            </div>
        </div>
    </div>
    <div style="background-color: gray; padding: 40px; color:white">
      <div class="container">
          <div class="row">
            <div style="text-align:center;padding-bottom:30px;font-size:2.1em" class="col-md-12">
            You know why?
          </div>
      </div>
    </div>
      <div class="row">
        <div class="col-md-12">
          <p style="text-align:center;font-size:20px; padding-top:10px;">Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p>
        </div>
      </div>
    </div>
    <div style="padding-bottom: 150px; padding-top: 40px;" class="container">
      <div class="row">
          <div style="text-align:center;padding-bottom:30px;font-size:2.1em" class="col-md-12">
            About Us
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p style="text-align:center;font-size:20px; padding-top:10px;">Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p>
        </div>
      </div>
    </div>
{% endblock body %}
