{% extends 'projects/base.html' %}

{% block title%} Home {% endblock %}

{%load static%}

{% block body %}
    <div id="landingImage" class="container">
      <div class="jumbotron">
        <h1 style:"padding-top:30px;font-weight:bold;">Do you know anyone who?</h1>
        <h2><span class="brand">uknowho</span> is a website dedicated to everyone with the maker spirit.
        Join a Project and meet the team or just simply scoll through projects
        for ideas and inspiration.</h2>
        <div id="jumbotronButtons">
          <a href="{% url 'projects:find' %}"><button type="button" class="jumbotronButton">Find Projects</button></a>
          <a href="{% url 'projects:project_add'%}"><button type="button" class="jumbotronButton">Create Projects</button></a>
        </div>
      </div>
    </div>
    <div class="container" id="categoryItems">
        <div class="row">
          <div style="padding-bottom:40px;font-size:1.4em" class="col-md-12">
            Choose your project category
          </div>
        </div>
        <div class="row">
            <div class="col-md-3">
              <a href="/search/sw/"><img class="categoryItem" width="140px" src="{% static 'projects/images/program.png' %}" /></a>
              <p>Programming</p>
            </div>
            <div class="col-md-3">
              <a href="/search/hw/"><img class="categoryItem" width="140px" src="{% static 'projects/images/computer.png' %}" /></a>
              <p>Electronics</p>
            </div>
            <div class="col-md-3">
              <a href="/search/ar/"><img class="categoryItem" width="140px" src="{% static 'projects/images/art.png' %}" /></a>
              <p>Art</p>
            </div>
            <div class="col-md-3">
              <a href="/search/ot"><img class="categoryItem" width="140px" src="{% static 'projects/images/plus.png' %}" /></a>
              <p>And more!</p>
            </div>
        </div>
    </div>
    <div style="background-color: gray; padding: 40px; color:white">
      <div class="container">
          <div class="row">
            <div style="text-align:center;padding-bottom:30px;font-size:2.1em" class="col-md-12">
            Where the idea came from?
          </div>
      </div>
    </div>
      <div class="row">
        <div class="col-md-12">
          <p style="text-align:center;font-size:20px; padding-top:10px;">As students
          and makers we often need to work on group projects. Unfortunately it is
          possible that not everyone on the team share the same commitement and
          even goals. As such knowing a bit about who will be on your team is a
          big help for the success of your projects.</p>
        </div>
      </div>
    </div>
    <div style="padding-bottom: 150px; padding-top: 40px;" class="container">
      <div class="row">
          <div style="text-align:center;padding-bottom:30px;font-size:2.1em" class="col-md-12">
            About Hackerschool
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p style="text-align:center;font-size:20px; padding-top:10px;">Hackerscool
          is an independent student group that dedicates its time to teaching
          the community, through workshops and events, and developing innovative
          projects.</p>
        </div>
      </div>
    </div>
{% endblock body %}
