{% extends 'projects/base.html' %}

{% block body %}
 	<!-- LOGIN BOX -->
 	<style type="text/css">
 		body {
 			background-color: gray;
 		}
 	</style>
	<div class="container loginCtn">
		<form class="form-signin">
			<h1 style="text-align:center;" class="text-muted">Login</h1>
			<input type="text" class="form-control" placeholder="Email address" required="required" autofocus="">
			<input type="password" class="form-control" placeholder="Password" required="required">
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				Login
			</button>
			<br>
			<p><a>Forgot your password?</a></p>
		</form>
	</div>
{% endblock body %}
