{%extends 'projects/base.html'%}

{% block body %}
<style type="text/css">
    body {
      background-color: gray;
    }
</style>
<div class="container createCtn">
    <form class="form-horizontal" action="" method="post">
      <div class="row">
        <p style="padding-bottom: 20px; font-size: 1.6em; text-align:center">Start sharing your idea!</p>
      </div>
      {%csrf_token%}
      {% for field in form%}
        <div class="form-group">
          <div class="col-md-3"><label>{{field.label_tag}}</label></div>
          <div class="col-md-9"> <div>{{field}}</div></div>
          <span class="text-danger small"> {{field.errors}}</span>
        </div>
      {% endfor %}

          <button class="btn btn-lg btn-primary btn-block" type="submit">
            Post project
          </button>

    </form>
</div>
{% endblock %}
