{% extends 'projects/base.html' %}

{% block body %}
 	<!-- REGISTER BOX -->
 	<style type="text/css">
 		body {
 			background-color: gray;
 		}
 	</style>
 	<div class="container loginCtn">

		<form class="form-signin">
			<h1 style="text-align:center;" class="text-muted">Register</h1>
			<input type="text" class="form-control" placeholder="Name" required="required" autofocus="">
			<input type="email" class="form-control" placeholder="Email address" required="required" >
			<input type="password" class="form-control" placeholder="Password" required="required">
			<button class="btn btn-lg btn-primary btn-block" type="submit">
				Register
			</button>
		</form>

	</div>
{% endblock body %}

 </body>
 </html>